<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" placeholder="Username" name = "username">
        <br>
        <textarea placeholder="write your post"  name="content" ></textarea>
        <br>
        <button>Submit post</button>
    </form>
</body>
</html>