<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Post in detail</title>
</head>
<body>
    <h2>Here's your post in detail</h2>
    <div>
        <h3>@<%= post.username %></h3>
        <h4>Post Id : <%= post.id %></h4>
        <p>Content : <%= post.content %></p>
        <button><a href="http://localhost:8080/posts">Back to home</a></button>
    </div>
</body>
</html>